*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  max-width: 100%;
  min-height: 100vh;
  font-size: 1.6rem;
  line-height: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  background: #ffffff;
  color: #000000;
  position: relative;
  padding: 3rem;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1, h2, h3, h4 {
  margin: 0;
  font-family: 'Playfair Display', serif;
  line-height: 120%;
}

a {
  color: #000000;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}

p, form {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}

button {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  line-height: 20px;
}

ul, ol {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 144rem;
  padding: 2.5rem 15rem;
  margin: 0 auto;
  text-align: center;
}

.main-header {
  margin-bottom: 4rem;
}

.main-header__title {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 5.5rem;
}

.animated-item {
  position: relative;
  transition: .2s ease-in-out;
  backface-visibility: hidden;
  z-index: 1;
}

.animated-item::before {
  content: "";
  background: #6df7ce;
  box-shadow: inset 0 -30px 40px -30px #31685e;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.5s ease;
}

.animated-item:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  letter-spacing: 2px;
}

.site-navigation__item {
  padding: 1rem .5rem;
  flex-grow: 1;
}

.site-navigation__link {
  padding: 0 .5rem;
}

.hotel {
  max-width: 100%;
  height: 46rem;
  background: url(../img/hotel.jpg) center/cover no-repeat;
  color: #ffffff;
  position: relative;
}

.hotel__title {
  font-size: 6rem;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -150%);
}

.hotel__text {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 215%);
}
