// VARIABLES AND MIXINS

$color-white: #ffffff
$color-light-grey: #f4f4f4
$color-grey: #a1a1a1
$color-dark-grey: #575757
$color-black: #000000

$main-color: #36776a
$main-color-light: #6ae7c2

$box-shadow: 2px 2px 2px 0 $main-color

@mixin colored-item
    background: $main-color-light
    box-shadow: inset 0 -30px 40px -30px $main-color

@mixin navigation
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    letter-spacing: 2px

@mixin navigation-item
    padding: 1rem .5rem
    flex-grow: 1

// COMMON STYLES 

*, ::after, ::before
    margin: 0
    padding: 0
    box-sizing: border-box

html
    // font-size: 10px
    // 10px : 16px (по умолчанию) * 100 = 62.5%
    // для изменения размера шрифта для слабовидящих 
    font-size: 62.5%

body
    min-width: 122rem
    font-size: 1.6rem
    line-height: 2rem
    font-family: "Roboto", sans-serif
    font-weight: normal
    background: $color-white
    color: $color-black
    position: relative
    padding: 3rem

img
    max-width: 100%
    height: auto
    display: block

h1, h2, h3, h4
    margin: 0
    font-family: 'Playfair Display', serif
    line-height: 120%

a
    color: $color-black
    font-family: "Roboto", sans-serif
    text-decoration: none
    text-transform: uppercase
    transition: .3s

p, form
    font-family: "Roboto", sans-serif
    font-weight: 400
    font-size: 13px
    line-height: 20px

button
    font-family: 'Playfair Display', serif
    font-weight: 400
    line-height: 20px

ul, ol
    list-style: none

.container
    width: 120rem
    padding: 2.5rem 5rem
    margin: 0 auto
    text-align: center

.animated-item
    position: relative
    transition: .2s ease-in-out
    backface-visibility: hidden
    z-index: 1

    &::before
        @include colored-item
        content: ""
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        z-index: -1
        transform: scaleX(0)
        transform-origin: bottom right
        transition: transform 0.5s ease

    &:hover::before
        transform: scaleX(1)
        transform-origin: bottom left

.title
    display: inline-block
    font-size: 2rem
    text-transform: uppercase
    font-weight: 800
    position: relative

    &::after
        content: ""
        position: absolute
        width: 100%
        height: 2px
        transform: scaleX(0)
        background: $main-color
        bottom: -3px
        left: 0
        transition: transform .5s ease

    &:hover::after
        transform: scaleX(1)
        transform-origin: center

// BUTTON UP

.start
    position: absolute
    top: 0

.visually-hidden
    position: absolute
    width: 1px
    height: 1px
    margin: -1px
    border: 0
    padding: 0
    white-space: nowrap
    clip-path: inset(100%)
    clip: rect(0 0 0 0)
    overflow: hidden

.scroll-up-link
    display: none
    position: fixed
    bottom: 140px
    right: 40px
    width: 52px
    height: 52px
    box-shadow: $box-shadow
    border-radius: 30px
    background-color: $color-light-grey
    opacity: 0
    &::before
        content: ""
        position: absolute
        top: 50%
        left: 50%
        width: 16px
        height: 8px
        transform: translate(-50%, -50%)
        background: url(../icon/arrow-up.svg) center/contain no-repeat

.scroll-up-link-showed
    display: block
    position: fixed
    animation: btn-showing .7s linear forwards
    transition: .5s ease-in-out
    &:hover
        background-color: $main-color-light

@keyframes btn-showing
    0%
        opacity: 0
    100%
        opacity: 1

// HEADER

.main-header
    margin-bottom: 2rem

    &__title
        font-size: 3.5rem
        font-weight: 700
        margin-bottom: 4.5rem

.site-navigation
    @include navigation

    &__item
        @include navigation-item

    &__link
        padding: 0 .5rem

// HOTEL

.hotel
    max-width: 100%
    height: 46rem
    background: url(../img/hotel.jpg) center/cover no-repeat
    color: $color-white
    position: relative
    margin-bottom: 2rem

    &__title
        font-size: 6rem
        text-transform: uppercase
        position: absolute
        top: 53%
        left: 50%
        transform: translate(-50%, -150%)

    &__text
        width: 40%
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, 215%)

// REVIEWS

.reviews
    margin-bottom: 2rem

    &__title
        margin-bottom: 3rem

    &__list
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr))
        gap: 3rem
        align-items: start
        text-align: left

    img
        box-shadow: $box-shadow
        margin-bottom: 3rem
        transition: .5s

    &__subtitle
        font-weight: 600
        margin-bottom: 1rem

    &__item:hover a
        color: $main-color

    &__item:hover img
        filter: brightness(1.2) saturate(90%)

// PROMO

.promo
    position: relative
    display: flex
    justify-content: center
    background: $color-light-grey
    height: 44rem
    overflow: hidden

    &__title
        margin-bottom: 1rem

    &__list
        width: 80%
        margin: 0 auto 3rem

    &__item
        position: relative
        &::before
            content: ''
            display: block
            height: 2px
            width: 100px
            background-color: rgba(0, 0, 0, 0.2)
            opacity: 0.4
            margin: calc(100% - 98%) auto

    &__item:hover a
        color: $main-color

    &__subtitle
        font-weight: 600
        margin-bottom: 1rem

    &__details
        @include colored-item
        display: inline-flex
        justify-content: space-between
        align-items: center
        width: 17rem
        padding: 1.5rem 2rem
        color: $color-white
        font-weight: 700
        letter-spacing: .2rem
        border: 1px solid $main-color
        border-radius: 1rem

        &:hover img
            transform: rotate(360deg) scale(1.2)

        img
            transition: all .5s ease-in-out

.promo .container
    position: absolute
    background: $color-white
    border-radius: 50%
    width: calc(100% - 30%)
    top: -5rem
    height: 55rem
    padding: 8rem 3rem 0

// FOOTER

.main-footer
    background-color: $color-dark-grey
    padding: 1rem 0

    &__title
        font-size: 3rem
        color: $color-white
        margin-bottom: 3rem
        text-transform: none
        &::after
            background: $color-light-grey
            bottom: -4px
            height: 1px

.footer-navigation
    @include navigation
    padding-bottom: 3rem
    border-bottom: 1px solid $color-light-grey
    margin-bottom: 3rem

    &__item
        @include navigation-item

    &__link
        color: $color-white
        transition: .5s
        &:hover
            color: $main-color-light

.social-list
    @include navigation
    width: 30%
    margin: 0 auto

    &__item
        display: flex
        justify-content: center
        align-items: center
        width: 4.5rem
        height: 4.5rem
        background: $color-white
        border: none
        border-radius: 3px
        margin: 1rem
        transition: .5s

        &:hover
            background: $main-color
        &:hover a
            color: $main-color-light

        a
            font-size: 2rem
            color: $color-dark-grey
            transition: .5s

// MEDIA QUERIES

@media (max-width: 1199px)
    .container
        width: 960px
        padding: 0

    .main-header .container
        width: 90%

    .hotel__title
        font-size: 5rem
        top: 40%

    .reviews__list
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr))

    .main-footer .container
        width: 90%

@media (max-width: 991px)
    p
        font-size: 1.6rem

    .container
        width: 720px

    .hotel__text
        width: 50%

    .reviews
        height: 87rem
        margin-bottom: 7rem

    .reviews__list
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr))
        grid-template-rows: repeat(2, 300px)
        gap: 5rem 2rem

    .reviews__item:nth-child(3)
        grid-column: 1 / span 2
        text-align: center

        img
            width: 100%

    .promo
        height: 48rem

    .social-list
        width: 50%

    .main-footer
        padding: 4rem 0

@media (max-width: 767px)
    .title
        font-size: 2.2rem

    a
        font-size: 2rem

    p
        font-size: 1.8rem

    .container
        width: 700px

    .hotel
        margin-bottom: 4rem

        &__text
            top: 37%

    .reviews
        height: 160rem

        &__list
            display: flex
            flex-direction: column
            align-items: center

            img
                width: 100%

        &__item
            width: 100%
            text-align: center

    .promo__details
        width: 20rem

    .main-footer__title
        text-transform: uppercase

    .social-list
        width: 60%

        &__item a
            font-size: 3rem

@media (max-width: 575px)
    .container
        width: 100%
        padding: 0 3rem

    .reviews
        height: 152rem

        &__item
            width: 60%

    .footer-navigation
        width: 80%
        margin: 0 auto 3rem

        &__item
            padding: 1rem 1.5rem

    .social-list__item
        width: 7rem
        height: 7rem

        a
            font-size: 4rem
